[Unit]
Description=Run Clio collector daily

[Timer]
OnCalendar=*-*-* 06:15:00
RandomizedDelaySec=900
Persistent=true

[Install]
WantedBy=timers.target
